doctype html
html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Page title
        link(rel='stylesheet', href='/styles.css')
    body
         a(href='/suggestions') Back
        
         h1= suggestion.title

         form(method="POST")
            if suggestion.voters.has(username)
                button(type="submit") Upvote
            else
                button(type="submit") Vote